html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#pictureGrid {
    display: grid;
    grid-template-columns: auto auto auto;
    position: relative;
    margin: auto;
    z-index: 0;
}

.cell {
    position: relative;
    background-size: cover;
    opacity: 0;
    cursor: grab;
}
#cell1 {
    background-image: url('/images/1.jpg')
}
#cell2 {
    background-image: url('/images/2.jpg')
}
#cell3 {
    background-image: url('/images/3.jpg')
}
#cell4 {
    background-image: url('/images/4.jpg')
}
#cell5 {
    background-image: url('/images/5.jpg')
}
#cell6 {
    background-image: url('/images/6.jpg')
}
#cell7 {
    background-image: url('/images/7.jpg')
}
#cell8 {
    background-image: url('/images/8.jpg')
}
#cell9 {
    background-image: url('/images/9.jpg') 
}
